body {
  display: flex;
  background-color: #387ff2;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.base-image-container {
  position: relative;
}

.base-image-container img {
  width: 100%;
  height: auto;
}

.overlay-options {
  display: flex;
  overflow-x: auto;
  margin-left: 20px;
  width: 100%;
  max-width: 500px;
}

.overlay-options img {
  width: 100px;
  height: auto;
  cursor: pointer;
}





